<div class="background">
    <div class="container">
        <img src="../../assets/images/icon-success.svg" alt="success">
    
        <div class="text mt-3">
            <h1 class="fw-bold">Thanks for subscribing!</h1>
            <p>
                A confirmation email has been sent to <span class="fw-bold">ash@loremcompany.com</span>.
                Please open it and click the button inside to confirm your subscription
            </p>
            <button class="rounded w-100 p-3 fs-5" (click)="dismissMessage()">Dismiss message</button>
        </div>
    </div>
</div>
