ul {
    list-style: none;
    padding-left: 0;
}

.help-block{
    color: red;
}

input.ng-invalid.ng-touched, .invalid-input {
    border: 1px solid red;
    color: red;
    background-color: #FFE9EC;
}

.custom-border {
    transition: border-color 0.3s ease-in-out; 
}

.custom-border:hover {
    border-color: rgb(67, 66, 66) !important; 
    cursor: pointer;
}

.img{
    display: block;
    background: url('../../assets/images/illustration-sign-up-mobile.svg');
}

.page-background{
    overflow-x: hidden;
}

.container{
    margin: 2.5rem auto;
}


@media (min-width: 1440px) {
    .page-background{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .dis-flex{
        width: 60%;
        max-width: 850px;
        /* margin: 5rem auto; */
        background-color: white;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        border-radius: 2rem;
    }

    .container{
        margin: 2.5rem 1rem;
    }

    .page-img{
        background: url('../../assets/images/illustration-sign-up-desktop.svg') repeat 0 0;
    }

    .responsive-image{
        margin: 1rem;
    }
}
